* {
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
}

@font-face {
    font-family: Cocogoose;
    src: url(fonts/Cocogoose\ Pro\ Thin\ Trial.ttf);
}

@font-face {
    font-family: Zamenhof;
    src: url(fonts/Zamenhof\ Inline.ttf);
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    height: 106px;
    align-items: center;
    background-color: #EF5E2A;
}

.nav-links-mobile {
    display: none;
}

#hamburger {
    display: none;
  }
  

#nav-links > a {
    text-decoration: none;
    color: #000022;
    font-size: 24px;
    font-family: Cocogoose;
    padding: 38px 30px;
}

#nav-links > a.active {
    background-color: #93EBFF;
}

#nav-links > a:hover {
    background-color: #93EBFF;
}

#nav-links {
    display: flex;
}

#nav-links-mobile {
    display: none;
}

body {
    /* This way footer stays at the bottom */
    position: relative;
    height: 100%;
    min-height: 100vh;
}

footer {
    background-color: #7C9299;
    height: 182px;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
}

.copyright-text {
    font-size: 16px;
    text-align: center;
    font-family: Cocogoose;
    font-weight: 600;
    color: #FFFFFF;
}

.copyright-text:first-of-type {
    margin-top: 21px;
}

.number {
    font-family: sans-serif;
    font-weight: 300;
}

.footer-content {
    display: flex;
    padding: 0px 55px;
    justify-content: space-between;
    margin-top: 20px;
}

.address {
    font-size: 25px;
    font-family: Zamenhof;
    margin-bottom: 22px;
}

.email {
    color: #FFFFFF;
    font-size: 17px;
    font-family: Cocogoose;
    font-weight: 600;
}

.opening-hours {
    font-family: Zamenhof;
    font-size: 24px;
}

.day {
    margin-right: 20px;
}

.last-hour {
    margin-left: 16px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.privacy {
    font-family: Zamenhof;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.privacy > a {
    text-decoration: none;
    color: #FFFFFF;
}

@media (max-width: 981px) {
    html, body
    {
        height: 100%;
    }

    #logo {
        width: 130px;
    }

    nav {
        height: 70px;
    }
    
    #nav-links {
        display: none;
    }

    .nav-links-mobile {
        opacity: 1;
        display: flex;
        height: calc(100% - 70px);
        flex-direction: column;
        background-color: #93EBFF;
        overflow: auto;
        transition: opacity 0.3s;
        position: absolute;
        width: 100%;
        z-index: 3;
    }

    .nav-links-mobile-hidden {
        opacity: 0;
    }

    .nav-links-mobile > a {
        text-decoration: none;
        color: #000022;
        font-size: 24px;
        font-family: Cocogoose;
        padding: 38px 30px;
        border-bottom: 1px solid #000022;
        width: 60%;
        margin-left: 20px;
    }

    .nav-links-mobile > a:last-of-type {
        margin-bottom: 30px;
    }

    nav {
        padding-left: 16px;
    }

    /* Hamburger Menu */
    #hamburger {
        display: block;
        cursor: pointer;
        margin-right: 16px;
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }

      .footer-content {
        padding: 0px 25px;
        flex-direction: column;
        align-items: center;
    }

    .footer-content > section {
        margin-bottom: 15px;
    }

    .address-email {
        text-align: center;
    }

    .address {
        margin-bottom: 5px;
    }
    
    footer {
        height: auto;
    }
}