.banner {
    background-image: url('images/hero-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 705px;
    width: 100%;
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.header-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.banner-header {
    text-shadow: 6px 6px 10px black;
    font-size: 100px;
    margin-bottom: 26px;
    font-family: Zamenhof;
    color: #DDB1D5;
    font-weight: 500;
}

.banner-subheader {
    text-shadow: 6px 6px 10px black;
    font-size: 47px;
    text-align: center;
    font-family: Zamenhof;
    color: #DDB1D5;
    font-weight: 500;
}

.hero-banner {
    position: relative;
}

.hero-banner-mobile {
    display: none;
}

@media (max-width: 620px) {
    .hero-banner {
        display: none;
    }

    .hero-banner-mobile {
        display: block;
    }

    .banner-header-mobile {
        text-shadow: none;
        font-size: 48px;
        margin-bottom: 14px;
        color: #EF5E2A;
        text-align: center;
        font-weight: 500;
        font-family: Zamenhof;
    }

    .banner-subheader-mobile {
        text-shadow: none;
        font-size: 35px;
        color: #EF5E2A;
        font-weight: 500;
        font-family: Zamenhof;
        text-align: center;
    }

    .header-section-mobile {
        padding: 70px 20px;
    }
}

.text-over-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.blurred-image-section {
    overflow: hidden;
    height: 468px;
    width: 829px;
    margin: 0 auto;
}

.blurred-image-section .blurred-image{
    width: 105%;
    height: 105%;
    margin: -5px;
    filter: blur(5px);
  }

.home-page-card-header {
    font-size: 64px;
    font-family: Zamenhof;
    color: #3DEDA4;
    font-weight: 500;
    text-align: center;
}

.card-text {
    font-size: 26px;
    font-style: italic;
    text-align: center;
    color: #fff;
    font-family: Cocogoose;
}

.blurred-container {
    margin: 0 auto;
    margin-top: 107px;
    position: relative;
}

main {
    overflow: hidden;
}

.map-section {
    margin-top: 107px;
    text-align: center;
}

.pin-image {
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
}

.map-address {
    font-size: 36px;
    font-family: Zamenhof;
    margin: 23px 0px;
    color: #EF5E2A;
}